/* eslint-disable */
.nabil-diff-panel-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.nabil-diff-panel-image {
  width: 486px;
  border: 1px solid #666666;
  height: 524px;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  min-width: 30px;
  flex-basis: 50%;
  max-height: 100%;
  align-items: center;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  background-color: #d9d9d9;
}
.nabil-diff-panel-container1 {
  display: flex;
  max-width: 100%;
  flex-basis: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.nabil-diff-panel-header {
  color: rgb(193, 107, 107);
  font-size: larger;
  max-width: 100%;
}
.nabil-diff-panel-paragraph {
  color: rgba(139, 0, 77, 255);
  width: 381px;
  height: 131px;
  overflow: hidden;
  font-size: 0.8em;
  max-width: 100%;
  max-height: 100px;
  border-style: solid;
  background-color: rgba(127, 0, 129, 255);
}
.nabil-diff-panel-button {
  width: 378px;
  border: 1px solid #666666;
  height: 113px;
  display: flex;
  font-size: 0.8em;
  max-width: 100%;
  min-width: 30px;
  max-height: 100%;
  align-items: center;
  border-color: rgba(210, 69, 69, 1);
  border-width: 1px;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  background-color: #d9d9d9;
  -webkit-user-drag: none;
}
@media(max-width: 600px) {
  .nabil-diff-panel-container {
    align-items: center;
    flex-direction: column;
  }
  .nabil-diff-panel-image {
    max-width: 100%;
    flex-basis: 100%;
  }
  .nabil-diff-panel-container1 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
